<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hızlı_Satış.Properties.Shortcuts" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Hızlı_Satış.Properties.KeyboardColor" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Hızlı_Satış.Properties.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Hızlı_Satış.Properties.KullanimAyarlari" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Hızlı_Satış.Properties.Shortcuts>
      <setting name="short1" serializeAs="String">
        <value />
      </setting>
      <setting name="short2" serializeAs="String">
        <value />
      </setting>
      <setting name="short3" serializeAs="String">
        <value />
      </setting>
      <setting name="short4" serializeAs="String">
        <value />
      </setting>
      <setting name="short5" serializeAs="String">
        <value />
      </setting>
      <setting name="short6" serializeAs="String">
        <value />
      </setting>
    </Hızlı_Satış.Properties.Shortcuts>
    <Hızlı_Satış.Properties.KeyboardColor>
      <setting name="rakamrenk" serializeAs="String">
        <value>#1abc9c</value>
      </setting>
      <setting name="harfrenk" serializeAs="String">
        <value>#34495e</value>
      </setting>
      <setting name="digerrenk" serializeAs="String">
        <value>#e67e22</value>
      </setting>
    </Hızlı_Satış.Properties.KeyboardColor>
    <Hızlı_Satış.Properties.General>
      <setting name="FullScreen" serializeAs="String">
        <value>0</value>
      </setting>
    </Hızlı_Satış.Properties.General>
    <Hızlı_Satış.Properties.KullanimAyarlari>
      <setting name="varsayilansifre" serializeAs="String">
        <value />
      </setting>
    </Hızlı_Satış.Properties.KullanimAyarlari>
  </userSettings>
</configuration>